body{
    background-color: gray;
}
input{
    height: 20px;
    width: 200px;
    background-color: white;
}
.result{
    margin: 10px 70px;
    display: block;
}
.resultbtn{
    display: inline;
}