#alert {
    font-size: 35px;
    background-color: rgb(255, 203, 203);
    padding: 130px 50px;
    border-radius: 30px;
    display: none;
}
.closebtn{
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}