body {
    background-color: lightblue;
    margin-left: 50px;
    margin-right: 50px;
}

.text_title {
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: blod;
}

.text {
    text-align: center;
}

span {
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    list-style: none;
}

.list_text {
    list-style: circle;
}

ul {
    list-style: circle;
}

table {
    width: 80%;
    margin: auto;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

hr {
    size: 2px;
    color: blue;
}

tr {
    text-align: center;
    background-color: white;
}

.title {
    background-color: #999999;
}